
aside {
	display: none;
}

.mainArticle img, .otherArticles img, .asideArticles img {
	object-fit: cover;
}

.mainArticle img {
    max-height: 40em;
}

.otherArticles img {
	max-height: 20em;
}

.asideArticles img {
	max-height: 10em;
}

.otherArticles:nth-of-type(2n+1) {
	border-right: 1em solid transparent;
}

.otherArticles:nth-of-type(2n) {
	border-left: 1em solid transparent;
}

.mainTitle {
	z-index: 1;
	padding-top: -5em;
}


@media screen and (min-width:768px){
	aside {
		display: block;
	}
}

@media screen and (min-width:1024px){

}