
.mainArticle img, .otherArticles img {
	object-fit: cover;
}

.mainArticle img {
	height: 35em;
	width: 100%;
}

.otherArticles img {
	height: 20em;
	width: 100%;
}

.otherArticles:nth-of-type(2n+1) {
	border-right: 0.5em solid transparent;
}

.otherArticles:nth-of-type(2n) {
	border-left: 0.5em solid transparent;
}




@media screen and (min-width:768px){
	
}

@media screen and (min-width:1024px){

}