
.block-article img {
	width: 100%;
}

.banner-author {
    font-size: 1em;
}

.avatar-author {
    width: 6em;
}

.diapo-images{
    position: relative;
    overflow: hidden;
}

#nav-droite, #nav-gauche{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 3em;
}

#nav-droite{
    right: 20px;
}
#nav-gauche{
    left: 20px;
}

.elements{
    display: flex;
    transition: 1s linear;
}

.element{
    flex: 1 0 100%;
    position: relative;
}

.element > img{
    width: 100%;
    height: 400px;
    margin-bottom: 1rem;
}

.caption{
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    /* transform: translate(-50%, -50%); */

    background-color: rgba(255,255,255,0.4);
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 30px;
}
.diapo-images, .diapo-videos, .diapo-audios{
    margin-bottom: 5rem;
    text-align: center;
    
}
.diapo-audios, .diapo-videos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.heading{
    padding-top: 0.5rem;
    border-top: 1px dashed #32a1ce ;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
    text-shadow: 0 .3rem 5.rem rgba(0, 0, 0, .5);
}
.audio-container, .video-container, .elements{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.video-container{
    border: thick double #32a1ce;
    border-radius: 6px;
}
.block-galerie{
    display: flex;
    flex-direction: column;
}
.new-vid, .new-aud, .new-img{
    margin-top: 1rem;
}
@media screen and (max-width:768px){
    .aside-show {
        display: none;
    }
    .element > img{
        width: 80%;
        height: 300px;
        margin-bottom: 1rem;
    }
    .video-show{
        width: 250px;
        height: 100px;
    }


}