.formMediaTest{
    display: flex;
    justify-content: center;
    background-image: url('../images/africa.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
}
.test{
    width: 100%;
}

