.formMediaTest{
    display: flex;
    justify-content: center;
    background-image: url('../images/africa.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
}
.test{
    width: 100%;
}
/* ---------------------- */
.global{
    margin-bottom: 2rem;
    margin-top: 2rem;
}
#sort1 .column{
    transition: 0.3s;
    margin-left: 1rem;
}


.ui.cards {
    margin: 20px;
    position: relative;
}

.ui.cards .card{
    margin: 0;
    width: 20%;
    transition: 0.5s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    box-shadow: none;
    padding: 10px;
    border: none;
}

.ui.cards .card.is-dragged{
    transition: 0s;
    opacity: 0.5;
    z-index: 9000;
}

@media screen and (max-width:767px){
    .global {
        margin-bottom: 30rem;
    }
}
