
/*!* Style the navigation menu *!*/
/*.topnav {*/
/*    overflow: hidden;*/
/*    background-color: #333;*/
/*    position: relative;*/
/*}*/

/*!* Hide the links inside the navigation menu (except for logo/home) *!*/
/*.topnav #myLinks {*/
/*    display: none;*/
/*}*/

/*!* Style navigation menu links *!*/
/*.topnav a {*/
/*    color: white;*/
/*    padding: 14px 16px;*/
/*    text-decoration: none;*/
/*    font-size: 17px;*/
/*    display: block;*/
/*}*/

/*!* Style the hamburger menu *!*/
/*.topnav a.icon {*/
/*    background: black;*/
/*    display: block;*/
/*    position: absolute;*/
/*    right: 0;*/
/*    top: 0;*/
/*}*/

/*!* Add a grey background color on mouse-over *!*/
/*.topnav a:hover {*/
/*    background-color: #ddd;*/
/*    color: black;*/
/*}*/

/*!* Style the active link (or home/logo) *!*/
/*.active {*/
/*    background-color: #4CAF50;*/
/*    color: white;*/
/*} */

/* body{
    background-color:  rgba(0, 0, 0, .09);
} */

.icon i {
    color: #000;
}

#myLinks {
    display: none;
    flex-direction: column;
    background: #3f4e5e;
}

/* #myLinks div:nth-of-type(odd) {
    background-color: #3f8e7e;
} */

#myLinks a {
    padding: 0em 0.1em 0em 1.5em;
    display: block;
    font-size: 2em;
}

.menu-admin a, .menu-author a {
    padding-left: 2.5em !important;
}

.menu-admin {
    background-color: #DA7F24;
}

.menu-author {
    background-color:#4ED717;
}

.menu-admin p, .menu-author p {
    padding-left: 0.5em;
    display: block;
    font-size: 2em;
}

.menu-admin div:nth-of-type(odd) {
    background-color:#E5AF7A;
}

.menu-admin div:nth-of-type(even) {
    background-color:#F1D3B5;
}

.menu-author div:nth-of-type(odd) {
    background-color: #97F074;
}

.menu-author div:nth-of-type(even) {
    background-color:#C3F1B0;
}

.search-input input, .search-input button {
    border: none;
}

.search-input button {
    background-color: transparent;
}

.search-input i {
    color: #FFF;
}

.logo {
    width: 10em;
}

footer img{
    width: 50%;
    height: auto;
}