
body{background-image: url("../images/PAGES/fond.png")}

header {
    /*background: linear-gradient(90deg, white, black, white);*/
    background-color: black;
}


.logo {
    width: 5em;
}

.icon i {
    color: #000;
}

.icon span {
    color: #000;
    display: none;
}

/* ---- MENU BURGER ---- */
#myLinks {
    display: none;
    flex-direction: column;
    background-color: #1E1E1E;
}

#myLinks a {
    padding: 0.2em 0 0.2em 2.5em;
    color: #FFF;
    display: block;
    font-size: 1.7em;
}

#myLinks .menu-log a {
    padding-left: 1em;
}

#myLinks a:hover {
    font-weight: 600;
}

.menu-admin p, .menu-author p {
    color: #FFF;
    padding-left: 0.5em;
    display: block;
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, 0.2);
}

.search-input input, .search-input button {
    border: none;
}

.search-input button {
    background-color: #FFF;
}

/*---- RUBAN CATEGORIES ----*/
.cat-ribbon {
    box-shadow: 0 0 2px #000;
}

.cat-ribbon a {
    color: black !important;
}


footer img{
    width: 50%;
    height: auto;
}

/*--- SHOW ARTICLE ---*/
.contenu{
    font-size: 25px;
    line-height: 30px;
    color: #1e2123;
    letter-spacing: -.4px;
    font-weight: 400;
    font-family: "Segoe UI";
}

/*--- COMMENTAIRE ----*/
.like:hover, .unlike:hover{
    transition: all .2s ease 0s;
    background-color: rgba(0, 0, 0, .1);
    color: #ed1c24;
}

/*ligne vertical: like & unlike*/
.VerticalLine{
    border-left: 2px solid #587d38;
    margin-right: 4px;
    margin-left: -4px;
}


/*--- DIVERS ---*/
.main-img {
    width: 4em;
}

.avatar-user {
    width: 12em;
}


@media screen and (min-width:768px){
    .icon span {
        color: #000;
        display: inline-block;
    }
}