
/* body { background-color: #f4f4f4; }
header {  background-color: #211572; }
.cat-ribbon { background-color: #24bddf; } */

body { background-color: #ececda; }
header { background-color: #118df0; }
.cat-ribbon { background-color: #0e2f56; }

/* body { background-color: #f6f5f5; }
header { background-color: #048998; }
.cat-ribbon { background-color: #3bb4c1; } */

/* body { background-color: #fdfcfc; }
header { background-color: #216583; }
.cat-ribbon { background-color: #00818a; } */

/* body { background-color: #f4f4f4; }
header { background-color: #1a1c20; }
.cat-ribbon { background-color: #cf7500; } */

/* body { background-color: #d9eeec; }
header { background-color: #3c70a4; }
.cat-ribbon { background-color: #da9833; } */

/* body { background-color: #fdfcfc; }
header { background-color: #4a2c2c; }
.cat-ribbon { background-color: #773838; } */

/* body { background-color: #eeeeee; }
header {  background-color: #303841; }
.cat-ribbon { background-color: #3a4750; } */

/* body { background-color: #eeeeee; }
header {  background-color: #2f3847; }
.cat-ribbon { background-color: #e7a117; } */

/* body { background-color: #eeeeee; }
header {  background-color: #34626c; }
.cat-ribbon { background-color: #839b97; } */