{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <main class="container-fluid">
        <h1 class="text-center">Modifier l'article</h1>

        {{ include('article/_form.html.twig', {'button_label': 'Modifier'}) }}

{#        <a href="{{ path('article_show', {'id': article.id}) }}">back to list</a>#}

        <!-- if statut == admin -->
{#        {{ include('article/_delete_form.html.twig') }}#}
        <!-- endif -->
    </main>
{% endblock %}
