{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
<main class="container">
    <h1>Créer un nouvel Article</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('article_admin') }}" class="btn btn-secondary">
        <i class="fa fa-eye mx-1"></i> Voir liste des articles
    </a>
</main>
{% endblock %}
