{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} Inscription !{% endblock %}

{% block body %}

    <h1 class="text-center">Inscription</h1>
    <section class="d-block mx-5 p-3 bg-info">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </section>
{% endblock %}
